﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../image/chia-seeds.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#login{
    width:300px;
    height:350px;
    background-color:white;
    left: 50%;
    margin-left: -150px;
    position:relative;
}

#registration
{
    width:500px;
    height:250px;
    background-color:white;
    left: 50%;
    margin-left: -250px;
    position:relative;
}

.colorInput
{
    background-color:#E7E7E7;
}


.textOnForm
{
    font-family:Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.height {
    margin-top: 5px;
}

input.input-text.highlighted {
    border: 1px solid rgba(255,0,0,0.9);
}
