<p>Sign in
<form action="/api/sign-in/" method="post">
    <input type="text" name="name">
    <input type="text" name="deviceId">
    <input type="submit" value="Send">
</form>

<p>Sign up
<form action="/api/sign-up/" method="post">
    <input type="text" name="name">
    <input type="text" name="deviceId">
    <input type="submit" value="Send">
</form>