﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lock Us Now | Registration</title>

    <link rel="stylesheet" href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />

    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex-theme-default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex-theme-flat-attack.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex-theme-os.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex-theme-plain.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex-theme-top.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vex/vex-theme-wireframe.css">
</head>
<body>

    <div id="login" class="img-rounded container" data-id="login-form">
        <div class="text-center">
            <h3>Login</h3>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="input-append">

                    <input type="email" data-id="Email" class="form-control colorInput" placeholder="Email Id">

                    <input type="password" data-id="Password" class="form-control colorInput" style="margin-top:5px" placeholder="Password">

                    <input type="checkbox" id="chkbx-1" class="pull-left" style="margin-top:9px" data-id="RememberMe"><label for="chkbx-1" style="margin-top:5px">Remember me</label>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button class="btn btn-primary btn-block" data-id="login" type="submit" href="#">Login</button>
                </div>
            </div>
        </div>

        <div class="text-center">
            -------------------------------------------------
        </div>

        <div class="text-center">
            Or you can Login with one of the following
        </div>

        <div class="btn-toolbar" role="toolbar" style="margin-top:9px">
            <div class="btn-group">
                <a href="#">
                    <img src="~/image/facebook.png" />
                </a>
            </div>
            <div class="btn-group">
                <a href="#">
                    <img src="~/image/twwiter.png" />
                </a>
            </div>
            <div class="btn-group">
                <a href="#">
                    <img src="~/image/googleplus.png" />
                </a>
            </div>
        </div>

        <div class="text-center" style="margin-top:5px">
            <span>Don't have an account?</span>
            <a href="registration"> REGISTRATION NOW >></a>
        </div>

    </div>


    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Scripts/underscore.js"></script>
    <script type="text/javascript" src="/Scripts/backbone.js"></script>

    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/login.js"></script>
    <script type="text/javascript" src="/Scripts/messenger.min.js"></script>
    <script type="text/javascript" src="/Scripts/messenger-theme-future.js"></script>
    <script type="text/javascript" src="/Scripts/vex.combined.min.js"></script>


</body>
</html>


