﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeds Stroge | Registration</title>


</head>
<body>

    <div id="registration" data-id="registration-form" class="img-rounded">
        <div class="text-center">
            <h3>Sign Up in Seconds!</h3>
        </div>

        <div class="container">
            <div class="col-md-6">
                <div class="input-append">
                    <input type="text" data-id="FirstName" class="form-control" placeholder="First Name">
                </div>

                <div class="input-append">
                    <input type="text" data-id="LastName" class="form-control" style="margin-top:5px" placeholder="Last Name">
                </div>

                <div class="input-append">
                    <input type="password" data-id="Password" class="form-control" style="margin-top:5px" placeholder="Password">
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-append">
                    <input type="email" data-id="Email" class="form-control" placeholder="Email Id">
                </div>

                <div class="input-append">
                    <input type="text" data-id="Phone" class="form-control" style="margin-top:5px" placeholder="Phone Number">
                </div>

                <div class="input-append">
                    <input type="password" data-id="ConfPassword" class="form-control" style="margin-top:5px" placeholder="Confirm Password">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-2 text-center">
                <a class="btn btn-primary center-block" data-id="registration" type="submit" style="margin-top:10px" href="#">Create my Account</a>
            </div>
        </div>

        <div class="text-center" style="margin-top:5px">
            <a href="login"><< LOGIN HERE</a>
        </div>       

    </div>

    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Scripts/underscore.js"></script>
    <script type="text/javascript" src="/Scripts/backbone.js"></script>
    <script type="text/javascript" src="/Scripts/BackboneValidation.js"></script>

    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/registration.js"></script>
    <script type="text/javascript" src="/Scripts/messenger.min.js"></script>
    <script type="text/javascript" src="/Scripts/messenger-theme-future.js"></script>

</body>
</html>