﻿<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>



<script type="text/javascript" src="/Scripts/underscore.js"></script>
<script type="text/javascript" src="/Scripts/backbone.js"></script>
<script type="text/javascript" src="/Scripts/BackboneValidation.js"></script>



<script type="text/javascript" src="/Scripts/common.js"></script>
<script type="text/javascript" src="/Scripts/registration.js"></script>

<form class="form-horizontal" role="form">
    <h3>Sign Up!</h3>

    <div class="form-group">
        <label for="username" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="username" name="username" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" class="form-control" id="email" name="email" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password" name="password" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatPassword" class="col-lg-2 control-label">Repeat Password</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-lg-2 control-label">Country</label>
        <div class="col-lg-10">
            <select class="form-control" id="country" name="country"></select>
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Gender</label>
        <div class="col-lg-offset-2 col-lg-10">
            <label class="radio-inline control-label">
                <input type="radio" id="genderMale" name="gender" value="male" /> Male
            </label>
            <label class="radio-inline control-label">
                <input type="radio" id="genderFemale" name="gender" value="female" /> Female
            </label>
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="age" class="col-lg-2 control-label">Age</label>
        <div class="col-lg-10">
            <input type="number" class="form-control" id="age" name="age" />
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <div class="checkbox">
                <label class="control-label">
                    <input type="checkbox" value="true" id="terms" name="terms" />I agree all your <a href="#">Terms of Services</a>

                </label>
                <span class="help-block hidden"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="button" id="signUpButton" class="btn btn-success">Sign Up</button>
        </div>
    </div>
</form>